.choose-wraper {
  width: 1000px;
  padding: 50px;
}

.panel {
  display: flex;
  height: 34px;
  line-height: 34px;
  &>span {
    margin-left: auto;
  }
}

.semester {
  padding-left: 20px;
}
.sub-collapse {
  padding-left: 20px;
}
.three-level {
  padding-left: 20px;
}
.last-level {
  display: flex;
  &>label {
    padding: 5px 10px;
    white-space: nowrap;
  }
  &>div {
    display: flex;
    flex-wrap: wrap;
    .four-level {
      padding: 1px 4px;
      margin: 2px 5px;;
      cursor: pointer;
      user-select: none;
    }
  }
}
.well {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
.one {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  height: 50px;
  line-height: 50px;
}

.checkboxall {
  .check__all-parent-node {
    margin: 10px 0;
    &-icon {
      order: 1;
      margin-left: auto;
      border: 1px solid #ccc;
      border-width: 0 0 1px 1px;
      transform: rotate(-45deg);
      &::before, &::after{
        display: none;
      }
    }
    label {
      order: 0;
    }
    &-icon-open {
      transform: rotate(135deg);
    }
  }
  .check__all-child-node {
    &-icon {
      display: none;
    }
  }
  .check__all-group-inner {
    border: none;
  }
  &>div>.check__all-group>.check__all-group-inner>div>.check__all-group {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    &>.check__all-group-inner>div>.check__all-group{
      // display: flex;
      &>.check__all-parent-node>.check__all-parent-node-icon {
        // display: none;
      }
    }
    .check__all-group-inner .check__all-group-inner>div {
      display: flex;
      &>.check__all-group-inner>div>.check__all-group {
        display: flex;
      }
    }
  }
}