

.calendar {
  width: 100%;
  height: 100%;
  line-height: 30px;
  background-color: #fff;
  &.calendar-day, &.calendar-week {
    header .custom-cell {
      height: 100px;
    }
    .cell { // 日历 单元格
      width: 14%;
      .custom-cell {
        height: 100px;
      }
      .cell-header .custom-cell {
        height: 50px;
      }
    }
  }
  &.calendar-month {
    .cell { // 月历 单元格
      width: 25%;
      .custom-cell {
        height: 250px;
      }
    }
    header .custom-cell {
      height: 100px;
    }
  }
  &.calendar-year {
    .cell {// 年历 单元格
      width: 20%;
      .custom-cell {
        height: 250px;
      }
    }
    header .custom-cell {
      height: 100px;
    }
  }
  header {
    display: flex;
    flex-direction: row;
    text-align: center;
    user-select: none;
    span {
      flex: 1 auto;
      width: 40px;
      cursor: pointer;
      &:hover {
        background-color: #fef;
      }
    }
    span:nth-child(2) {
      width: calc(100% - 80px);
      cursor: default;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .calendar-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
  }
  .cell {
    text-align: center;
    flex: 1 auto;
  }
  .custom-cell {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cell:not(.cell-empty):not(.cell-header) .custom-cell:hover {
  background-color: #fef;
}
.today .custom-cell {
  background-color: #eff;
}
.selected .custom-cell {
  box-shadow: 0 0 1px 0 inset blue;
}
.disabled .custom-cell {
  
}