$prefixCls: input__check;
$checkAll: check__all;
$childNode: #{$checkAll}-child-node;
$parentNode: #{$checkAll}-parent-node;

// 多选
.#{$prefixCls}-checkbox {
  display: inline-block;
  position: relative;
  margin: 0 3px;
  vertical-align: middle;
  line-height: 2px;
  cursor: pointer;
  input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    outline: none;
    vertical-align: middle;
    line-height: 0;
    z-index: -1;
  }
  span {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    top: -1px;
    &::before {
      content: '';
      display: none;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      transform: translateY(-70%) rotate(-45deg);
      width: 12px;
      height: 6px;
      border: 3px solid #fff;
      border-width: 0 0 3px 3px;
    }
    &::after {
      content: '';
      display: none;
      position: absolute;
      width: 10px;
      height: 4px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: #fff;
    }
  }
  span:hover {
    border-color: rgba(239,76,79,.5);
  }
  &-checked {
    span {
      background: rgba(239,76,79,1);
      border-color: rgba(239,76,79,1);
    }
    span::before {
      display: block;
    }
    span:hover {
      background: rgba(239,76,79,.7);
      border-color: rgba(239,76,79,.3);
      &::before {

      }
    }
  }
  &-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &-indeterminate:not(&-checked) {
    span {
      background: rgba(239,76,79,.3);
      border-color: rgba(239,76,79,.2);
      &::after {
        display: block;
      }
    }
  }
}

// 单选
.#{$prefixCls}-radio {
  display: inline-block;
  position: relative;
  margin: 0 3px;
  vertical-align: middle;
  line-height: 2px;
  cursor: pointer;
  input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    outline: none;
    vertical-align: middle;
    line-height: 0;
    z-index: -1;
  }
  span {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    top: -1px;
  }
  span:hover {
    border-color: rgba(239,76,79,.5);
  }
  &-checked {
    span {
      width: 8px;
      height: 8px;
      border: 6px solid rgba(239,76,79,1);
    }
    span:hover {
      border-color: rgba(239,76,79,.3);
    }
  }
  &-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// 全选组
.#{$checkAll}-group {
  &-inner {
    padding-left: 13px;
    margin-left: 10px;
    border-left: 1px dotted #ccc;
  }
  &-inner-hide {
    display: none;
  }
  
  .#{$parentNode} {
    display: flex;
  }
  .#{$parentNode}-icon {
    position: relative;
    width: 13px;
    height: 13px;
    margin: 4px;
    border: 1px solid #ccc;
    &::before, &::after {
      content: '';
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #999;
      margin-right: -50%;
    }
    &::before {
      width: 10px;
      height: 2px;
    }
    &::after {
      width: 2px;
      height: 10px;
    }
  }
  .#{$parentNode}-icon-open::after {
    display: none;
  }
  .#{$childNode} {
    display: flex;
    flex-direction: row;
    margin: 3px 0;
    .#{$childNode}-icon {
      position: relative;
      width: 20px;
      height: 20px;
      margin: 1px 1px 0 2px;
      &::before, &::after {
        content: '';
        position: absolute;
        display: block;
        background-color: #999;
        margin-right: -50%;
      }
      &::before {
        width: 0;
        height: 20px;
        left: 50%;
        border-left: 1px dotted #eee;
      }
      &::after {
        width: 10px;
        height: 0;
        left: 50%;
        top: 50%;
        border-bottom: 1px dotted #eee;
      }
    }
    &:last-child {
      .#{$childNode}-icon {
        &::before {
          height: 15px;
        }
        &::after {
          top: 66%;
        }
      }
    }
  }
}